---
const today = new Date();
import { SITE_TITLE } from "../consts";
import { SOCIAL_LINKS } from "../consts";
---

<footer>
	<div class="container">
		&copy; {today.getFullYear()}
		{SITE_TITLE}. All rights reserved.
		<div class="social-links">
			{
				SOCIAL_LINKS.map((item) => (
					<a href={item.href} target="_blank">
						<span class="sr-only">{item.alt}</span>
						<svg
							viewBox="0 0 16 16"
							aria-hidden="true"
							width="32"
							height="32"
							astro-icon={item.astroIcon}
						>
							<path fill="currentColor" d={item.d} />
						</svg>
					</a>
				))
			}
		</div>
	</div>
</footer>

<style>
	footer {
		padding: 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
		font-size: 0.8em;
	}
	.container {
		max-width: 720px;
		margin: 0 auto;
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
		justify-content: center;
		gap: 1em;
		@media (min-width: 720px) {
			flex-direction: row;
			justify-content: space-between;
		}
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
</style>
